<div class="container">
  <div class="search-box-wrapper">
    <input type="text" id='index-search-box' placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
  </div>
</div>
