<div id="article-list">
  <div class="search-box-wrapper">
    <input type="text" id='index-search-box' placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
  </div>
  <ul id="filter-articles">
    <% @articles.each do |article| %>
      <li>
        <%= render "article_tile", article: article %>
      </li>
    <%end%>
  </ul>
</div>
